.Root {
  --splitter-border-color: var(--color-border-primary);
  --splitter-thumb-color: var(--color-surface-secondary);
  --splitter-thumb-size: 0.5rem;
  --splitter-thumb-inset: calc(var(--splitter-thumb-size) * -0.5);
  --splitter-border-size: 1px;
  --splitter-handle-size: 1.5rem;

  display: flex;
  width: 100%;
  min-height: 20rem;
}

.Panel {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.ResizeTrigger {
  outline: 0;
  display: grid;
  place-items: center;
  position: relative;
  background: transparent;
  border: none;
  padding: 0;
  cursor: col-resize;
  min-width: var(--splitter-thumb-size);
  margin-inline: var(--splitter-thumb-inset);
  cursor: col-resize;

  &:focus {
    --splitter-border-color: var(--color-border-accent);
    --splitter-thumb-color: var(--color-border-accent);
  }

  &[data-dragging] {
    --splitter-border-color: var(--color-border-accent);
    --splitter-thumb-color: var(--color-border-accent);
  }

  &[data-disabled] {
    cursor: default;
  }

  &::before {
    content: "";
    position: absolute;
    background: var(--splitter-border-color);
    inset-inline-end: calc(var(--splitter-thumb-size) * 0.5);
    inset-block: 0;
    inset-inline-start: auto;
    width: var(--splitter-border-size);
  }
}

.ResizeTriggerIndicator {
  position: relative;
  border-radius: 9999px;
  background: var(--splitter-thumb-color);
  border: 1px solid var(--color-border-primary);
  z-index: 1;

  width: 100%;
  height: var(--splitter-handle-size);

  &[data-focus]:focus-visible {
    outline: 2px solid var(--color-border-accent);
    outline-offset: 2px;
  }

  &[data-disabled] {
    visibility: hidden;
  }
}
